@charset "UTF-8";
/* Import Local Scss Files */
/* Font Icon : Bootstrap Icons */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
/* Font */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
@import url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Binggrae.woff");
@import url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/CookieRun-Regular.woff");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
@import url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Binggrae.woff");
@import url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/CookieRun-Regular.woff");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
@import url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Binggrae.woff");
@import url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/CookieRun-Regular.woff");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
@import url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Binggrae.woff");
@import url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/CookieRun-Regular.woff");
@font-face {
  font-family: "pretendard";
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Luckiest Guy";
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Binggrae";
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "CookieRun-Regular";
  font-weight: normal;
  font-style: normal;
}
/* Font Family */
/* Color */
/* Font Icon : Bootstrap Icons */
/* Font */
@font-face {
  font-family: "pretendard";
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Luckiest Guy";
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Binggrae";
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "CookieRun-Regular";
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  font-family: "pretendard", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

button {
  cursor: pointer;
}

input {
  border: none;
}

li {
  list-style: none;
}

/* Font Icon : Bootstrap Icons */
/* Font */
@font-face {
  font-family: "pretendard";
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Luckiest Guy";
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Binggrae";
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "CookieRun-Regular";
  font-weight: normal;
  font-style: normal;
}
/* Font Family */
/* Color */
/* Font Icon : Bootstrap Icons */
/* Font */
@font-face {
  font-family: "pretendard";
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Luckiest Guy";
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Binggrae";
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "CookieRun-Regular";
  font-weight: normal;
  font-style: normal;
}
/* Responsive for Tablet */
@media screen and (max-width: 460px) {
  /************************************* Footer Slide Banner *************************************/
  .footer_slide_banner .inner {
    width: 95%;
  }
}
@media screen and (max-width: 428px) {
  .top_btn {
    right: 3.5%;
  }
  .top_btn .top_btn_inside {
    width: 60px;
    height: 60px;
  }
  .top_btn .top_btn_inside:hover::after {
    width: 75px;
    height: 75px;
  }
  .top_btn .top_btn_inside img {
    width: 25%;
  }
  .top_btn .top_btn_inside .top {
    font-size: 21px;
    bottom: 8%;
  }
}
@media screen and (max-width: 420px) {
  .subpage_main_contents .inner {
    /* Subpage_Test_Container 시험문제 */
  }
  .subpage_main_contents .inner .test_wrap .test_container .question {
    /* 1,2,3,4 선택지가 그림인 문제 */
    /* 20번 문제(테이블) */
  }
  .subpage_main_contents .inner .test_wrap .test_container .question:nth-child(20) .text p table tbody tr td {
    font-size: 14px;
  }
  .subpage_main_contents .inner .test_wrap .test_container .question .text {
    font-size: 16px;
    margin: 25px auto;
  }
  .subpage_main_contents .test_pencil {
    display: none;
  }
}
@media screen and (max-width: 410px) {
  /*********** Footer *************/
  footer .footer_info {
    font-size: 12px;
  }
  footer .footer_adress {
    font-size: 10px;
  }
  footer .footer_copy {
    font-size: 10px;
  }
}
@media screen and (max-width: 390px) {
  .subpage_main_visual {
    width: 100%;
    height: 230px;
  }
  .subpage_main_visual .group1 {
    -webkit-transform: scale(1);
            transform: scale(1);
    content: url(/subPage/map/images/subpage_visual_group1_mobile.svg);
    left: 0%;
    bottom: 0%;
  }
  .subpage_main_visual .group2 {
    -webkit-transform: scale(1);
            transform: scale(1);
    content: url(/subPage/map/images/subpage_visual_group2_mobile.svg);
    bottom: -4%;
    right: 0%;
  }
  .subpage_main_visual .main_title {
    top: 37.4%;
    left: 50%;
  }
  .subpage_main_visual .main_title .title h1 {
    font-size: 32px;
  }
  .subpage_main_visual .main_title .address {
    font-size: 12px;
    padding-top: 10px;
  }
  .subpage_main_visual .main_title .address span:nth-child(2) .bi, .subpage_main_visual .main_title .address span:nth-child(4) .bi {
    font-size: 10px;
  }
  .subpage_main_visual .main_title .address select {
    font-size: 10px;
  }
  .subpage_main_contents .inner .contents_title {
    height: 60px;
    top: -30px;
    border-radius: 40px 40px 0 0;
  }
  .subpage_main_contents .inner .contents_desc p {
    margin: 50px auto;
  }
  .subpage_main_contents .inner .contents_test {
    margin: 80px auto;
  }
}
@media screen and (max-width: 380px) {
  .footer_slide_banner .inner .wrap {
    /* border: 1px solid green; */
    width: 137px;
  }
}