/* Import Local Scss Files */
@import 'subpage_test_reset', 'subpage_test_variables', 'subpage_test_font';

@keyframes resultBg01{
  0%{transform: translateY(0); opacity: 0.2;}
  100%{transform: translate(0, 80px) rotate(10deg); opacity: 1;}
}
@keyframes resultBg02{
  0%{transform: translateY(0); opacity: 0.2;}
  100%{transform: translate(20px, 70px) rotate(20deg); opacity: 1;}
}
@keyframes resultBg03{
  0%{transform: translateY(0); opacity: 0.2;}
  100%{transform: translate(30px, 50px) rotate(-5deg); opacity: 1;}
}

@keyframes top_btn_outside {
  to{transform: translate(-50%, -50%) rotate(360deg);}
}

//top button animation
@keyframes arrow_click_induction {
  0%{transform: translateX(-50%) translateY(-5%) scale(0.9) rotate(-5deg);}
  30%{transform: translateX(-50%) translateY(5%) scale(0.9) rotate(-5deg);}
  50%{transform: translateX(-50%) translateY(7%) scale(0.9) rotate(-5deg);}
  70%{transform: translateX(-50%) translateY(5%) scale(0.9) rotate(-5deg);}
  100%{transform: translateX(-50%) translateY(-5%) scale(0.9) rotate(-5deg);}
}
@keyframes text_click_induction {
  0%{transform: translateX(-50%) rotate(-3deg);}
  30%{transform: translateX(-50%) rotate(0deg);}
  50%{transform: translateX(-50%) rotate(3deg);}
  70%{transform: translateX(-50%) rotate(0deg);}
  100%{transform: translateX(-50%) rotate(-3deg);}
}

/************************************* Header *************************************/
.header{
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 100px;
  padding: 0 100px;
  //transition: 0.8s;
  position: absolute;
  background-color: $white;

  .header_logo{
    display: flex;
    height: 62px;
    >a{
      display: block;
      img{
        width: 100%;
      }
    }
  }
  .header_nav{
    /* display: none; */
    height: inherit;
    .nav_lists{
      display: flex;
      height: inherit;
      text-align: center;
      .nav_list{
        align-content: center;
        &:nth-child(odd){
          .dropdown{
            &::before{
              border-color: $sub1_red;
              background-color: $sub1_red;
            }                      
            .inner{
              .image{
                background-color: $sub1_red;
              }
              .submenu{
                ul{
                  li{
                    &:hover{
                      background-color: $sub2_red;
                      color: $sub1_red;
                    }
                  }
                }
              }
            }
          }
        }
        &:nth-child(3), &:nth-child(4), &:nth-child(6){
          .dropdown{
            .inner{
              .submenu{
                ul{
                  li{
                    &:nth-child(3){
                      visibility: hidden;
                    }
                  }
                }
              }
            }
          }
        }
        /* &:hover{
          .dropdown{
            display: block;
          }
        } */
        >a{
          font-family: $main_kr;
          font-size: 18px;
          font-weight: bold;
          color: $black;
          text-decoration: none;
          display: block;
          padding: 30px 15px;
        }
        .dropdown{
          position: absolute;
          top: 100%;
          left: 0;
          width: 100vw;
          background: white;
          overflow: hidden;
          max-height: 0;
          box-sizing: content-box;
          z-index: 10;
          &::before{
            content: '';
            display: block;
            border: 1px solid $sub1_green;
            background-color: $sub1_green;
            width: 100vw;
            height: 2px;
          }
          &.avtive{
            max-height: 500px; /* 서브메뉴 열림 시 최대 높이 설정 */
          }
          .inner{
            width: 1280px;
            margin: 0 auto;
            display: flex;
            align-items: flex-start;
            .image{
              background-color: $sub1_green;
              position: relative;
              width: 410px;
              span{
                font-size: 32px;
                font-weight: bold;
                color: $white;
                font-family: $sub1_kr;
                display: block;
                position: absolute;
                right: 32px;
                top: 32px;
              }
              img{
                width: 100%;
                transform: translateY(4px);
              }
            }
            .submenu{
              width: 870px;
              
              display: grid;
              align-items: center;
              padding: 0 98px;
              ul{
                padding-top: 40px;
                
                display: grid;
                grid-template-columns: auto auto auto;
                justify-content: space-around;
                gap: 20px;
                li{
                  width: 190px;
                  border-radius: 10px;
                  transition: .3s;
                  &:hover{
                    background-color: $sub2_green;
                    color: $sub1_green;
                  }
                  a{
                    width: 70%;
                    display: inline-block;
                    font-size: 18px;
                    padding: 10px 0;
                    font-family: $main_kr;
                    text-align: left;
                  }

                }
              }
            }
          }
        }
      }
    }
  }
  .header_icon{
    width: 195px;
    display: flex;
    justify-content: flex-end;
    .header_icon_white{
      display: flex;
      justify-content: space-between;
      align-content: center;
      width: 100px;
      li{
        button{
          background-color: transparent;
          outline: none;
          border: none;
          cursor: pointer;
          display: flex;
          >img{
            width: 100%;
          }
        }
        a{
          cursor: pointer;
          display: flex;
          >img{
            width: 100%;
          }
        }
        .close_btn{
          display: none;
          >img{
            width: 100%;
          }
        }
      }
    }
  }
  /* 검색창 */
  .header_search{
    width: 30%;
    position: relative;
    display: flex;
    justify-content: center;
    display: none;
    input{
      border-radius: 20px;
      width: 90%;
      border: 2px solid $sub1_red;
      padding: 10px 0;
      text-indent: 20px;
      font-size: 16px;
      &::placeholder{
        color: #989898;
      }
    }
    .header_search_btn{
      position: absolute;
      border: none;
      background-color: transparent;
      right: 13%;
      top: 50%;
      transform: translateY(-50%);
      width: 20px;
      height: 20px;
      >img{
        width: 100%;
      }
    }
  }
}

.responsive_header{
  display: none;
}

/************************************* Side_Menu *************************************/
.side_menu{
  position: fixed;
  z-index: 100;
  right: 0;
  transition: .5s;
  transform: translateX(160px);
  &.active{
    transform: translateX(0);
  }
  .side_menu_content{
    width: 160px;
    height: 100vh;
    background-color: $sub1_red;
    border-radius: 60px 0 0 60px;
    position: relative;
    padding-top: 75px;
    >img{
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: -85%;
      z-index: -5;
      &:hover{
        animation-name: submenu;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        @keyframes submenu {
          0%{transform: translateY(-50%) translateX(0); }
          50%{transform: translateY(-50%) translateX(-4%) rotate(-8deg);}
          100%{transform: translateY(-50%) translateX(0);}
        }
      }
    }
    .side_menu_list{      
      li{
        margin: 0 auto;
        margin-bottom: 15px;
        width: 130px;
        height: 60px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        a{
          background-color: $white;
          padding: 10px 15px;
          display: flex;
          justify-content: space-around;
          align-items: center;
          text-align: center;
          gap: 5px;
          border-radius: 15px;
          &:hover{
            span{
              text-decoration: underline;
              text-underline-offset: 4px;
            }
          }
          img{
            width: 39px;
            height: 39px;
          }
          span{
            flex: 1;
            display: block;
            font-size: 14px;
            font-weight: bold;
            color: $black;
            font-family: $sub1_kr;
          }
        }
      }
    }

  }
}

/* responsive_Side_Menu_Character */
.responsive_side_menu_character{
  display: none;
}

/*********** responsive_Side_Menu_Content ************/
.responsive_side_menu{
  display: none;
}

/*********************** Subpage_Main_Visual ****************************/
.subpage_main_visual{
  display: flex;
  width: 100vw;
  // height: 52.467vh;
  height: 500px;
  background-color: #FCF7EC;
  position: relative;
  overflow: hidden;
  img{position: absolute;}
  .group1{
    left: -8%;
  }
  .group2{
    right: -5%;
  }
  .main_title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    .title{
      h1{
        text-align: center;
        font-size: 60px;
        font-family: $sub1_kr;
        color: $main_red;
      }
    }
    .address{
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 25px;
      font-size: 24px;
      color: $main_red;
      span{
        &:nth-child(2), &:nth-child(4){
          .bi{
            font-size: 20px;
            padding: 0 5px;
          }
        }
      }
      select{
        border-color: $main_red;
        border-radius: 5px;
        padding: 2px;
        font-size: 18px;
        color: $main_red;
        option{}
      }
    }
  }
}

/*********************** Subpage_Main_Contents ****************************/
.subpage_main_contents{
  position: relative;
  width: 100vw;
  .inner{
    margin: 0 auto;
    width: 1280px;
    .contents_title{
      top: -60px;
      border: 6px solid $main_red;
      //border: 6px solid $main_green;
      border-radius: 80px 80px 0 0;
      position: relative;
      width: 1280px;
      background-color: $white;
      border-bottom: none;
      height: 120px;
      display: flex;
      align-items: center;
      h1{
        flex: 1;
        text-align: center;
        font-size: 32px;
        font-family: $sub1_kr;
        font-weight: bold;
        color: $sub1_green;
      }
    }
    .contents_desc{
      width: 100%;
      //border: 1px solid green;
      text-align: center;
      margin-top: -30px;
      p{
        font-size: 20px;
        color: $black;
      }
    }
    .contents_test{
      width: 100%;
      display: flex;
      justify-content: space-between;
      //border: 2px solid rosybrown;
      margin: 150px 0;
      div{}
      .test_desc{
        margin-top: 35px;
        margin-left: 65px;
        //border: 2px solid greenyellow;
        .test_guide{
          //border: 2px solid crimson;
          .guide{
            margin: 0 auto;
            border: 4px solid $red;
            border-radius: 30px;
            width: 360px;
            height: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
            &:nth-child(1){
              span{
                &:nth-child(1){
                  img{
                    //width: 33px;
                    //height: 33px;
                  }
                }
                &:nth-child(2){}
              }
            }
            &:nth-child(3){
              border: 4px solid $orange;
              span{
                &:nth-child(1){
                  background-color: $orange;
                  img{
                    //width: 33px;
                    //height: 33px;
                  }
                }
                &:nth-child(2){}
              }
            }
            &:nth-child(5){
              border: 4px solid $yellowgreen;
              span{
                
                &:nth-child(1){
                  background-color: $yellowgreen;
                  img{
                    //width: 33px;
                    //height: 33px;
                  }
                }
                &:nth-child(2){}
              }
            }
            span{
              //flex: 1;
              display: block;
              font-size: 22px;
              color: $black;
              font-weight: 600;
              &:nth-child(1){
                background-color: $red;
                width: 60px;
                height: 60px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                
              }
              &:nth-child(2){
                //margin-right: 50px;
                //text-align: center;
              }
              img{
                width: 35px;
                height: 35px;
              }
            }
            
          }
          .guide_img{
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 25px 0;
            img{}
          }
        }
        .test_grade{
          //border: 2px solid brown;
          color: $black;
          margin-top: 35px;
          
          p{
            font-size: 16px;
            font-weight: 600;
            margin-bottom: 20px;
          }
          ul{
            li{
              text-indent: 15px;
              list-style: inside;
              &:nth-child(2){
                padding: 5px 0;
              }
            }
          }
        }
      }
      .user_info{
        width: 37%;
        margin-right: 100px;
        //border: 2px solid crimson;
        h1{
          font-size: 48px;
          margin-top: 60px;
          font-family: $sub1_kr;
        }
        .user{
          margin-left: 40px;
          .user_input{
            text-indent: 10px;
            //border: 2px solid blue;
            display: flex;
            align-items: center;
            gap: 35px;
            label{
              font-family: $sub1_kr;
              font-size: 22px;
              font-weight: bold;
              letter-spacing: 1em;
              color: $black;
            }
            input{
              width: 45%;
              border: 2px solid $sub1_red;
              border-radius: 10px;
              padding: 5px 15px;
              font-size: 15px;
            }
            &:nth-child(1){
              margin-top: 100px;
              input{
                &::placeholder{
                  font-size: 15px;
                }
              }
            }
            &:nth-child(2){
              margin: 50px 0;
              select{
                width: 45%;
                padding: 5px 15px;
                font-size: 15px;
                border: 2px solid $sub1_red;
                border-radius: 10px;
                /* -webkit-scrollbar */
                -webkit-appearance: none;  /* 크롬 화살표 없애기 */
                -moz-appearance: none; /* 파이어폭스 화살표 없애기 */
                appearance: none;  /* 화살표 없애기 */
                background: url(/subPage/test/images/subpage_test_select_triangle.png) no-repeat 91% 50%;
                background-color: $white;
                option{
                  //background-color: $white;

                  //padding-right: 20px;
                }
              }
            }
            &:nth-child(3){
              margin-bottom: 90px;
              input{
                &::placeholder{}
              }
            }
          }

        }
        .test_btn{
          margin-right: 10%;
          width: 200px;
          height: 60px;
          font-size: 24px;
          font-weight: bold;
          font-family: $sub1_kr;
          border-radius: 30px;
          background-color: $main_red;
          color: $white;
          border: none;
          float: right;
          transition: .5s;
          box-shadow: 0px 0px 15px inset rgba($color: $sub1_red, $alpha: 0.5);
          &:hover{
            background-color: $sub1_red;
          }
        }
      }
    }
    /* Subpage_Test_Container 시험문제 */
    .test_wrap{
      width: 100%;
      display: none;
      //border: 2px solid orange;
      .test_container{
        width: 100%;
        .question{
          margin: 100px auto 0;
          width: 900px;
          color: $black;
          //border: 2px solid crimson;
          &:nth-child(20){
            .text{
              p{
                table{
                  border-radius: 10px;
                  border-collapse: collapse;
                  border: 1px solid #ddd;
                  thead{
                    tr{
                      border: 1px solid #ddd;
                      th{
                        border: 1px solid #ddd;
                        padding: 10px;
                      }
                    }
                  }
                  tbody{
                    tr{
                      border: 1px solid #ddd;
                      td{
                        border: 1px solid #ddd;
                        padding: 10px;
                      }
                    }
                  }
                }
              }
            }
          }
          //5번 문제 이미지
          .question_image{
            width: 180px;
            height: 180px;
            margin: 25px 0 25px 25px;
          }
          p{
            font-weight: 600;
            font-size: 22px;
            
          }
          .text{
            border: 2px solid #DDDDDD;
            border-radius: 10px;
            display: inline-block;
            margin: 25px 0 25px 25px;
            p{
              font-weight: 400;
              //color: orange;
              font-size: 20px;
              padding: 30px;
              line-height: 30px;
            }
          }
          .question_text{
            margin-bottom: 35px;
            p{
              font-weight: 400;
            }
          }
          .answers{
            display: flex;
            justify-content: space-around;
            align-items: center;
            //border: 2px solid cornflowerblue;
            .image_wrapper{
              position: relative;
              width: 180px;
              height: 180px;
              cursor: pointer;
              &::before{
                content: '';
                width: 20px;
                height: 20px;
                position: absolute;
                top: 0;
                left: -25px;
                background-position: 0%;
              }
              &:nth-child(1){
                &::before{
                  background: url(/subPage/test/images/answer_num01.png) no-repeat 0;
                }
              }
              &:nth-child(2){
                &::before{
                  background: url(/subPage/test/images/answer_num02.png) no-repeat 0;
                }
              }
              &:nth-child(3){
                &::before{
                  background: url(/subPage/test/images/answer_num03.png) no-repeat 0;
                }
              }
              &.active{
                &:nth-child(1){
                  &::before{
                    background: url(/subPage/test/images/answer_num01.png) no-repeat 100%;
                  }
                }
                &:nth-child(2){
                  &::before{
                    background: url(/subPage/test/images/answer_num02.png) no-repeat 100%;
                  }
                }
                &:nth-child(3){
                  &::before{
                    background: url(/subPage/test/images/answer_num03.png) no-repeat 100%;
                  }
                }
              }
              .answer_img{
                width: 180px;
                height: 180px;
              }
            }
            .answer_text{
              width: 250px;
              height: 50px;
              //border: 1px solid green;
              text-align: left;
              display: flex;
              align-items: center;
              padding-left: 10px;
              position: relative;
              cursor: pointer;
              font-size: 20px;
              &::before{
                content: '';
                width: 20px;
                height: 20px;
                position: absolute;
                top: 0;
                left: -25px;
              }
              &:nth-child(1){
                &::before{
                  background: url(/subPage/test/images/answer_num01.png) no-repeat 0;
                }
              }
              &:nth-child(2){
                &::before{
                  background: url(/subPage/test/images/answer_num02.png) no-repeat 0;
                }
              }
              &:nth-child(3){
                &::before{
                  background: url(/subPage/test/images/answer_num03.png) no-repeat 0;
                }
              }
              &.active{
                &:nth-child(1){
                  &::before{
                    background: url(/subPage/test/images/answer_num01.png) no-repeat 100%;
                  }
                }
                &:nth-child(2){
                  &::before{
                    background: url(/subPage/test/images/answer_num02.png) no-repeat 100%;
                  }
                }
                &:nth-child(3){
                  &::before{
                    background: url(/subPage/test/images/answer_num03.png) no-repeat 100%;
                  }
                }
              }
            }
          }
        }

      }
    }
    .pagination{
      width: 100%;
      .pagination_wrap{
        display: flex;
        width: 500px;
        margin: 0 auto;
        align-items: center;
        justify-content: space-around;
        padding: 50px 0;
        button{
          width: 50px;
          height: 50px;
          font-size: 30px;
        }
        .test_prev_btn{
          .bi{}
        }
        .pagination_number{
          margin: 0 auto;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 5px;
          li{
            width: 45px;
            height: 45px;
            //border: 2px solid $sub1_green;
            border-radius: 50%;
            overflow: hidden;
            
            a{
              display: block;
              text-decoration: none;
              line-height: 45px;
              text-align: center;
              font-size: 30px;
              color: $sub1_green;
              &.active{
                background-color: $main_green;
                color: $white;
              }
            }
          }
        }
        .test_next_btn, .test_prev_btn{
          background-color: transparent;
          border: none;
          cursor: pointer;
          .bi{font-size: 50px; color: $sub1_green;}
        }
      }
    }
    .result_wrap{
      width: 100%;
      .test_result_btn{
        padding: 15px 30px;
        margin: 0 auto;
        font-size: 22px;
        font-weight: bold;
        font-family: $sub1_kr;
        border-radius: 30px;
        background-color: $main_red;
        color: $white;
        border: none;
        transition: .5s;
        box-shadow: 0px 0px 15px inset rgba($color: $sub1_red, $alpha: 0.5);
        &:hover{
          background-color: $sub1_red;
        }
      }
    }
    .test_result_container{
      display: none;
      width: 650px;
      height: 800px;
      //border: 2px solid $sub1_red;
      box-shadow: 0px 0px 23.6px rgba($color: black, $alpha: 0.1);
      position: fixed;
      z-index: 200;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      background-color: $white;
      color: $sub1_red;
      text-align: center;
      border-radius: 30px;
      //배경장식
      img{
        position: absolute;
      }
      .result_bg_deco01{
        top: 8%;
        left: 5%;
        animation: resultBg01 3s infinite;
      }
      .result_bg_deco02{
        top: 0;
        left: 28%;
        animation: resultBg02 3s infinite;
      }
      .result_bg_deco03{
        top: 5%;
        right: 10%;
        animation: resultBg03 3s infinite;
      }
      .deco01{
        bottom: 8%;
        right: 5%;
      }
      .deco02{
        bottom: 7%;
        right: 7%;
      }
      .input_data{
        margin-top: 280px;
        p{
          font-size: 40px;
          font-family: $sub1_kr;
          color: $black;
          font-weight: bold;
        }
      }
      .total_score{
        font-size: 45px;
        font-family: $sub1_kr;
        font-weight: bold;
        margin: 10px 0 15px 0;
      }
      .hello_text{
        font-size: 64px;
        font-family: $sub1_kr;
        margin: 0 0 60px 0;
      }
      .grade_wrap{
        text-align: right;
        margin-right: 80px;
        .grade{
          font-family: $title_en;
          font-size: 200px;
          transform: rotate(-15deg);
          span{
            display: inline-block;
            font-size: 40px;
            font-family: $sub1_kr;
            font-weight: bold;
            transform: rotate(15deg);
            padding-left: 10px;
          }
        }
      }
      .result_close_btn{
        position: absolute;
        top: 5%;
        right: 5%;
        width: 50px;
        height: 50px;
        border: 2px solid $sub1_red;
        border-radius: 50%;
        background-color: $white;
        &:hover{
          img{
            transform: translate(-50%, -50%) scale(1.1);
          }
        }
        img{
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          transition: .5s;
        }
      }
    }
  }
  .test_file, .test_pencil{
    position: absolute;
  }
  .test_file{
    top: 240px;
    z-index: -2;
    right: 0;
    width: 52%;
    height: 682px;
  }
  .test_pencil{
    top: 300px;
    right: 20px;
    transform: rotate(5deg);
    z-index: -1;
    width: 428px;
    height: 465px;
  }
}

.scrollLock { overflow: hidden; }

/* Footer Slide Banner */
.footer_slide_banner{
  width: 100vw;
  margin-top: 190px;
  margin-bottom: 90px;
  .inner{
    margin: 0 auto;
    width: 1280px;
    border: 3px solid #F5948D;
    border-radius: 30px;
    position: relative;
    .wrap{
      margin: 0 auto;
      width: 1079px;
      /* border: 1px solid blue; */
      overflow: hidden;
      .footer_slide{
        margin: 0 auto;
        width: 100%;
        /* border: 1px solid purple; */
        display: flex;
        gap: 20px;
        .footer_slide_item{
          /* border: 1px solid crimson; */
          min-width: 137px;
          max-height: 45px;
          display: flex;
          justify-content: center;
          align-items: center;
          img{}
        }
      }
    }
    .footer_slide_button{
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      /* border: 1px solid #F5948D; */
      border-radius: 50%;
      .bi{
        color: #F5948D;
        font-size: 20px;
        width: inherit;
        height: inherit;
      }
      .bi-chevron-left::before, .bi-chevron-right::before{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    .footer_slide_prev_button{
      left: 1%;
    }
    .footer_slide_next_button{
      right: 1%;
    }
  }
}

/************************************* Footer *************************************/
footer{
  border-top: 3px solid $main_red;
  width: 100vw;
  height: 320px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $black;
  .footer_info{
    font-size: 16px;
    display: flex;
    gap: 10px;
    li{
      position: relative;
      &::after{
        content: '|';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: -8px;
        color: #777;
        
      }
      &:nth-child(2){
        color: $sub1_red;        
      }
      &:last-child{
        &::after{
          display: none;
        }
      }
      a{}
    }
  }
  .footer_adress{
    font-size: 14px;
    margin: 4.4% 0;
    >div{
      display: flex;
      justify-content: center;
      span{
        display: block;
        padding: 2px 5px;
        position: relative;
        &::after{
          content: '|';
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: -2px;
          color: #777;
        }
        &:last-child{
          &::after{
            display: none;
          }
        }
      }
    }
    .first{}
    .second{}
    .third{}
  }
  .footer_copy{
    font-size: 14px;
    color: $dark_gray;
  }
}


/************************************* top btn *************************************/
.top_btn{
  position: fixed;
  bottom: 10%;
  right: 2.5%;
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease;
  box-sizing: content-box;
  &.visible{
    opacity: 1;
    visibility: visible;
  }

  .top_btn_inside{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: $sub2_red;
    display: inline-block;
    position: relative;
    border: 2px solid $white;
    &:hover::after{
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 85px;
      height: 85px;
      border-radius: 100%;
      border: 3px dashed $sub1_red;
      animation: top_btn_outside normal infinite 30s linear;
    }

    >img, .top{
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
    img{
      display: block;
      transform: translateX(-50%) scale(0.9) rotate(-5deg);
      top: 2%;
      animation: arrow_click_induction normal infinite 2s linear;
    }
    .top{
      font-family: $title_en;
      color: $sub1_red;
      font-size: 26px;
      text-align: center;
      bottom: 5%;
      animation: text_click_induction normal infinite 2s linear;
    }
  }
}