@import 'subpage_map_font';

/* Font Family */
$main_kr : "pretendard", sans-serif;
$title_en : "Luckiest Guy", sans-serif;
$sub1_kr : "Binggrae", sans-serif;
$sub2_kr : "CookieRun-Regular", sans-serif;

/* Color */
$main_red : #F5948D;
$main_green : #8BD092;
$sub1_red : #EF4C41;
$sub1_green : #3DB149;
$sub2_red : #FEEEEC;
$sub2_green : #ECF8ED;
$black : #343434;
$white : #fff;
$dark_gray : #989898;
$light_gray : #F5F5F5;
$red : #DB6565;
$orange : #FFA446;
$yellowgreen : #B3DA4C;
$blue : #638CD7;
$beige : #FCF7EC;