/* Import Local Scss Files */
@import 'subpage_map_reset', 'subpage_map_variables', 'subpage_map_font';

/* Responsive for Tablet */
@media screen and (max-width: 460px) {
  /************************************* Footer Slide Banner *************************************/
    .footer_slide_banner{
      .inner{
        width: 95%;
      }
    }
}

@media screen and (max-width: 428px){
  // top btn
  .top_btn{
    right: 3.5%;
    .top_btn_inside{
      width: 60px;
      height: 60px;
      &:hover::after{
        width: 75px;
        height: 75px;
      }
      img{width: 25%;}
      .top{
        font-size: 21px;
        bottom: 8%;
      }
    }
  }
}

@media screen and (max-width: 410px) {
  /*********** Footer *************/
  footer{
    .footer_info{
      font-size: 12px;
    }
    .footer_adress{
      font-size: 10px;
      .first{}
      .second{}
      .third{}
    }
    .footer_copy{
      font-size: 10px;
    }
  }
}

// ~420 , ~270
@media screen and (max-width: 390px){
  // subpage main visual
  .subpage_main_visual{
    width: 100%;
    height: 230px;
    .group1{
      transform: scale(1);
      content: url(/subPage/map/images/subpage_visual_group1_mobile.svg);
      left: 0%;
      bottom: 0%;
    }
    .group2{
      transform: scale(1);
      content: url(/subPage/map/images/subpage_visual_group2_mobile.svg);
      bottom: -4%;
      right: 0%;
    }
    .main_title{
      top: 37.4%;
      left: 50%;
      .title{
        h1{
          font-size: 32px;
        }
      }
      .address{
        font-size: 12px;
        padding-top: 10px;
        span{
          &:nth-child(2), &:nth-child(4){
            .bi{
              font-size: 10px;
            }
          }
        }
        select{
          font-size: 10px;
          option{}
        }
      }
    }
  }
  .subpage_main_contents{
    .inner{
      width: 90%;
      .tap_wrap{
        height: 60px;
        top: -30px;
        border-radius: 40px 40px 0 0;
        .tap_menu{
          height: 64px;
          h1{font-size: 18px;}
        }
      }
      .map_api{
        width: 85%;
        height: 215px;
      }
      .location_info{
        flex-direction: column;
        margin-top: 14.249%;
        margin-bottom: 28.493%;
        gap: 0;
        .info{
          .info_title{
            justify-content: center;
            img{
              //문의전화 사이즈 다름 확인
            }
            h4{
              font-size: 18px;
            }
          }
          span{
            font-size: 16px;
            margin-left: 0px;
          }
          &.call{
            margin-top: 7.123%;
            & span:nth-child(2){
              padding: 4px 12px;
            }
          }
        }
      }
      // 공통 스타일
      .car, .subway_bus{
        width: 95.158%;
        border-width: 2px;
        border-radius: 30px;
        text-align: center;
      }
      .car{
        .transport_title_wrap{
          width: 70%;
          top: -2.5%;
          .transport_title{
            padding: 7px 20px;
            font-size: 20px;
          }
        }
        .transport_content{
          padding: 22.123% 9.61%;
          @at-root .transport_icon{transform: scale(0.8);}
          @at-root .bar{
            width: 50px;
            height: 2px;
            margin-top: 0.5%;
            margin-bottom: 16.76%;
          }
          .root{
            margin-bottom: 16.76%;
            h4{
              font-size: 18px;
              margin: 0;
              margin-bottom: 2.36%;
              &::before{
                content: '';
                left: 0;
              }
            }
            p{
              margin: 0;
              font-size: 14px;
              line-height: 1.3;
              &.pc_tablet{display: none;}
              &.mobile{display: block;}
            }
            
          }
        }
        .car_deco{
          display: none;
        }
      }
      .subway_bus{
        .transport_title_menu{
          transform: translateY(-16px);
          li{
            padding: 7px 0;
            .transport_title{
              padding: 7px 15px;
              font-size: 18px;
            }
          }
        }
        .transport_content{
          padding-top: 5%;
          .subway{
            @at-root .root_wrap{
              align-items: center;
              .root1{
                h4{
                  font-size: 16px;
                  @at-root b{
                    width: 20px;
                    height: 20px;
                    font-size: 14px;
                    line-height: 20px;
                  }
                  &:nth-child(2){
                    ::before{
                      height: 25px;
                      left: 50%;
                    }
                  }
                }
                p{
                  margin: 8.58% 0;
                  font-size: 14px;
                }
                @at-root .bus_root{
                  margin-left: 0px;
                  justify-content: center;
                  @at-root .bus_num{
                    display: inline-block;
                    padding: 0;
                    width: 50px;
                    height: 20px;
                    font-size: 13px;
                    text-align: center;
                    line-height: 20px;
                  }
                }
              }
              .bar{
                width: 95%;
              }
              .root2{
                h4{
                  font-size: 16px;
                  b{
                    font-size: 14px;
                  }
                }
                p{
                  margin: 8.58% 0;
                  font-size: 14px;
                }
              }
            }
          }
          .bus{
            .root_wrap{
              >div{
                width: 100%;
                h4{
                  font-size: 16px;
                  &::before{
                    content: '';
                  }
                }
                p{
                  text-align: left;
                  margin-left: 64px;
                  margin-top: 0;
                  margin-bottom: 2.22%;
                }
              }
            }
          }
        }
      }
    }
  }
  // top btn
  .top_btn{
    right: 3.5%;
    .top_btn_inside{
      width: 60px;
      height: 60px;
      &:hover::after{
        width: 75px;
        height: 75px;
      }
      img{width: 25%;}
      .top{
        font-size: 21px;
        bottom: 8%;
      }
    }
  }
}

@media screen and (max-width: 380px) {
  .footer_slide_banner{
    .inner{
      .wrap{
        /* border: 1px solid green; */
        width: 137px;
      }
    }
  }
}