/* Import Local Scss Files */
@import 'subpage_introduce_reset', 'subpage_introduce_variables', 'subpage_introduce_font';

/* animation */
@keyframes blobs {
  to{transform: rotate(360deg);}
}

@keyframes top_btn_outside {
  to{transform: translate(-50%, -50%) rotate(360deg);}
}

//top button animation
@keyframes arrow_click_induction {
  0%{transform: translateX(-50%) translateY(-5%) scale(0.9) rotate(-5deg);}
  30%{transform: translateX(-50%) translateY(5%) scale(0.9) rotate(-5deg);}
  50%{transform: translateX(-50%) translateY(7%) scale(0.9) rotate(-5deg);}
  70%{transform: translateX(-50%) translateY(5%) scale(0.9) rotate(-5deg);}
  100%{transform: translateX(-50%) translateY(-5%) scale(0.9) rotate(-5deg);}
}
@keyframes text_click_induction {
  0%{transform: translateX(-50%) rotate(-3deg);}
  30%{transform: translateX(-50%) rotate(0deg);}
  50%{transform: translateX(-50%) rotate(3deg);}
  70%{transform: translateX(-50%) rotate(0deg);}
  100%{transform: translateX(-50%) rotate(-3deg);}
}

.scrollLock { overflow: hidden; }

body{
  position: relative;
}
/************************************* Header *************************************/
.header{
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 100px;
  padding: 0 100px;
  //transition: 0.8s;
  position: absolute;
  background-color: $white;

  .header_logo{
    display: flex;
    height: 62px;
    >a{
      display: block;
      img{
        width: 100%;
      }
    }
  }
  .header_nav{
    /* display: none; */
    height: inherit;
    .nav_lists{
      display: flex;
      height: inherit;
      text-align: center;
      .nav_list{
        align-content: center;
        &:nth-child(odd){
          .dropdown{
            &::before{
              border-color: $sub1_red;
              background-color: $sub1_red;
            }                      
            .inner{
              .image{
                background-color: $sub1_red;
              }
              .submenu{
                ul{
                  li{
                    &:hover{
                      background-color: $sub2_red;
                      color: $sub1_red;
                    }
                  }
                }
              }
            }
          }
        }
        &:nth-child(3), &:nth-child(4), &:nth-child(6){
          .dropdown{
            .inner{
              .submenu{
                ul{
                  li{
                    &:nth-child(3){
                      visibility: hidden;
                    }
                  }
                }
              }
            }
          }
        }
        /* &:hover{
          .dropdown{
            display: block;
          }
        } */
        >a{
          font-family: $main_kr;
          font-size: 18px;
          font-weight: bold;
          color: $black;
          text-decoration: none;
          display: block;
          padding: 30px 15px;
        }
        .dropdown{
          position: absolute;
          top: 100%;
          left: 0;
          width: 100vw;
          background: white;
          overflow: hidden;
          max-height: 0;
          box-sizing: content-box;
          z-index: 10;
          &::before{
            content: '';
            display: block;
            border: 1px solid $sub1_green;
            background-color: $sub1_green;
            width: 100vw;
            height: 2px;
          }
          &.avtive{
            max-height: 500px; /* 서브메뉴 열림 시 최대 높이 설정 */
          }
          .inner{
            width: 1280px;
            margin: 0 auto;
            display: flex;
            align-items: flex-start;
            .image{
              background-color: $sub1_green;
              position: relative;
              width: 410px;
              span{
                font-size: 32px;
                font-weight: bold;
                color: $white;
                font-family: $sub1_kr;
                display: block;
                position: absolute;
                right: 32px;
                top: 32px;
              }
              img{
                width: 100%;
                transform: translateY(4px);
              }
            }
            .submenu{
              width: 870px;
              
              display: grid;
              align-items: center;
              padding: 0 98px;
              ul{
                padding-top: 40px;
                
                display: grid;
                grid-template-columns: auto auto auto;
                justify-content: space-around;
                gap: 20px;
                li{
                  width: 190px;
                  border-radius: 10px;
                  transition: .3s;
                  &:hover{
                    background-color: $sub2_green;
                    color: $sub1_green;
                  }
                  a{
                    width: 70%;
                    display: inline-block;
                    font-size: 18px;
                    padding: 10px 0;
                    font-family: $main_kr;
                    text-align: left;
                  }

                }
              }
            }
          }
        }
      }
    }
  }
  .header_icon{
    width: 195px;
    display: flex;
    justify-content: flex-end;
    .header_icon_white{
      display: flex;
      justify-content: space-between;
      align-content: center;
      width: 100px;
      li{
        button{
          background-color: transparent;
          outline: none;
          border: none;
          cursor: pointer;
          display: flex;
          >img{
            width: 100%;
          }
        }
        a{
          cursor: pointer;
          display: flex;
          >img{
            width: 100%;
          }
        }
        .close_btn{
          display: none;
          >img{
            width: 100%;
          }
        }
      }
    }
  }
  /* 검색창 */
  .header_search{
    width: 30%;
    position: relative;
    display: flex;
    justify-content: center;
    display: none;
    input{
      border-radius: 20px;
      width: 90%;
      border: 2px solid $sub1_red;
      padding: 10px 0;
      text-indent: 20px;
      font-size: 16px;
      &::placeholder{
        color: #989898;
      }
    }
    .header_search_btn{
      position: absolute;
      border: none;
      background-color: transparent;
      right: 13%;
      top: 50%;
      transform: translateY(-50%);
      width: 20px;
      height: 20px;
      >img{
        width: 100%;
      }
    }
  }
}

.responsive_header{
  display: none;
}

/************************************* Side_Menu *************************************/
.side_menu{
  position: fixed;
  z-index: 100;
  right: 0;
  transition: .5s;
  transform: translateX(160px);
  &.active{
    transform: translateX(0);
  }
  .side_menu_content{
    width: 160px;
    height: 100vh;
    background-color: $sub1_red;
    border-radius: 60px 0 0 60px;
    position: relative;
    padding-top: 75px;
    >img{
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: -85%;
      z-index: -5;
      &:hover{
        animation-name: submenu;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        @keyframes submenu {
          0%{transform: translateY(-50%) translateX(0); }
          50%{transform: translateY(-50%) translateX(-4%) rotate(-8deg);}
          100%{transform: translateY(-50%) translateX(0);}
        }
      }
    }
    .side_menu_list{      
      li{
        margin: 0 auto;
        margin-bottom: 15px;
        width: 130px;
        height: 60px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        a{
          background-color: $white;
          padding: 10px 15px;
          display: flex;
          justify-content: space-around;
          align-items: center;
          text-align: center;
          gap: 5px;
          border-radius: 15px;
          &:hover{
            span{
              text-decoration: underline;
              text-underline-offset: 4px;
            }
          }
          img{
            width: 39px;
            height: 39px;
          }
          span{
            flex: 1;
            display: block;
            font-size: 14px;
            font-weight: bold;
            color: $black;
            font-family: $sub1_kr;
          }
        }
      }
    }

  }
}

/* responsive_Side_Menu_Character */
.responsive_side_menu_character{
  display: none;
}

/*********** responsive_Side_Menu_Content ************/
.responsive_side_menu{
  display: none;
}

/*********************** Subpage_Main_Visual ****************************/
.subpage_main_visual{
  display: flex;
  width: 100vw;
  // height: 52.467vh;
  height: 500px;
  background-color: #FCF7EC;
  position: relative;
  overflow: hidden;
  img{position: absolute;}
  .group1{
    left: -8%;
  }
  .group2{
    right: -5%;
  }
  .main_title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    .title{
      h1{
        text-align: center;
        font-size: 60px;
        font-family: $sub1_kr;
        color: $main_red;
      }
    }
    .address{
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 25px;
      font-size: 24px;
      color: $main_red;
      span{
        &:nth-child(2), &:nth-child(4){
          .bi{
            font-size: 20px;
            padding: 0 5px;
          }
        }
      }
      select{
        border-color: $main_red;
        border-radius: 5px;
        padding: 2px;
        font-size: 18px;
        color: $main_red;
        option{}
      }
    }
  }
}


/*********************** Subpage_Main_Contents ****************************/
.subpage_main_contents{
  width: 100wv;
  .inner{
    margin: 0 auto;
    width: 1280px;
    //position: relative;
    .tap_wrap{
      position: relative;
      top: -60px;
      border: 6px solid $main_red;
      border-radius: 80px 80px 0 0;
      //position: absolute;
      width: 1280px;
      //top: -60px;
      background-color: $white;
      border-bottom: none;
      .tap_menu{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 120px;
        li{
          flex: 1;
          text-align: center;
          a{
            font-size: 32px;
            font-family: $sub1_kr;
            font-weight: bold;
            &.active{
              color: $sub1_green;
            }
          }
        }
      }
    }
    .tap_content{
      //border: 3px solid orange;
      //height: 500px;
      background-color: $white;
      //position: absolute;
      width: inherit;
      //top: 60px;
      .town{
        .introduce_town_item1{
          text-align: center;
          @at-root .introduce_sub_title{
            font-family: $sub1_kr;
            font-size: 60px;
            text-align: center;
          }
          .introduce_sub_title{
            color: $sub1_red;
            margin-top: 11px;
          }
          b{
            display: block;
            margin-bottom: 91px;
          }
          em{
            font-style: normal;
            color: $sub1_red;
          }
          p{display: inline;}
          .introduce_town_item1_img{
            display: block;
            border-radius: 60px;
            margin: auto;
            margin-top: 100px;
            position: relative;
            z-index: 2;
          }
        }
        .introduce_town_item2{
          width: 100%;
          //border: 2px solid yellowgreen;
          margin-top: 200px;
          .introduce_sub_title{
            font-size: 54px;
            margin: 50px 0;
            b{
              font-family: $sub1_kr;
              &:nth-child(1){color: $sub1_red;}
              &:nth-child(2){color: $sub1_green;}
            }
          }
          .item2_tab_wrap{
            //border: 3px solid darkcyan;
            .item2_tab_menu{
              margin: 0 auto;
              width: 90%;
              //border: 1px solid lightpink;
              display: flex;
              //justify-content: center;
              li{
                flex: 1;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                a{
                  width: 100%;
                  padding: 80px 0;
                  height: auto;
                  display: inline-block;
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                  display: flex;
                  justify-content: center;
                  color: $black;
                  font-size: 36px;
                  font-weight: bold;
                  color: $white;
                  z-index: 10;
                  &.active + img{
                    animation: blobs 10s infinite;
                  }
                }
                img{
                  
                  //width: 100%;
                  //height: inherit;
                }
              }
            }
            .item2_tab_content{
              margin: 70px auto;
              width: 80%;
              height: 140px;
              //border: 2px solid blue;
              .introduce_town_item2_tab{
                width: 100%;
                height: inherit;
                //border: 1px solid green;
                &:nth-child(even){
                  .wrap{
                    h2{
                      background-color: $main_green;
                      border: 3px solid $main_green;
                    }
                    p{
                      border: 3px solid $main_green;
                    }
                  }
                }
                &:nth-child(2), &:nth-child(3), &:nth-child(4){
                  display: none;
                }
                .wrap{
                  margin: 0 auto;
                  //border: 2px solid blue;
                  //border: 3px solid $main_red;
                  border-radius: 60px;
                  text-align: center;
                  width: 100%;
                  display: flex;
                  align-items: center;
                  height: inherit;
                  //overflow: hidden;
                  h2{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: inherit;
                    flex: 1;
                    font-size: 30px;
                    background-color: $main_red;
                    border: 3px solid $main_red;
                    //padding: 35px 0;
                    border-radius: 60px 0 0 60px;
                    padding-left: 10px;
                    color: $white;
                  }
                  p{
                    display: flex;
                    align-items: center;
                    flex: 4;
                    height: inherit;
                    font-size: 20px;
                    padding: 0 45px;
                    border: 3px solid $main_red;
                    border-radius: 0 60px 60px 0;
                    //line-height: 1.5em;
                    font-weight: normal;
                  }
                }
              }
            }
          }
        }
        .introduce_town_item3{
          .introduce_sub_title{
            color: $sub1_green;
            margin-top: 204px;
          }
          ul{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 66px;
            margin-bottom: 40px;
            gap: 37px;
            li{
              width: 177px;
              height: 63px;
              border: 3px solid $sub1_red;
              border-radius: 30px;
              text-align: center;
              background-color: $white;
              overflow: hidden;
              &:nth-child(even){
                border-color: $sub1_green;
              }
              &:nth-child(even) a{
                color: $sub1_green;
              }
              &:nth-child(even) a{
                color: $sub1_green;
                &.active{background-color: $main_green;}
              }
              a{
                display: block;
                width: inherit;
                height: inherit;
                line-height: 60px;
                color: $sub1_red;
                font-size: 20px;
                font-weight: 600;
                &.active{
                  background-color: $main_red;
                  color: $white;
                }

              }
            }
          }
          .introduce_town_item3_slider{
            display: none;
            margin-bottom: 239px;
            &.active{
              display: block;
            }
            .introduce_tab_Swiper{
              .swiper-wrapper{
                .swiper-slide{
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  gap: 30px;
                  img{
                    width: 338px;
                    height: 581px;
                    border-radius: 60px;
                  }
                  .teacher_list{
                    border: 3px solid $main_red;
                    width: 810px;
                    height: 581px;
                    border-radius: 60px;
                    .teacher_inform{
                      background-color: $main_red;
                      border-radius: 55px 55px 0 0;
                      height: 108px;
                      color: $white;
                      display: flex;
                      flex-direction: column;
                      justify-content: end;
                      padding: 0 33px;
                      b{
                        font-size: 32px;
                        font-weight: bold;
                      }
                      span{margin-bottom: 13px;}
                    }
                    .teacher_qna{
                      font-size: 16px;
                      padding: 30px;
                      .question{
                        font-weight: 600;
                        b{color: $sub1_red;}
                      }
                      .answer{
                        margin-bottom: 57px;
                        b{color: $sub1_green;}
                      }
                    }
                  }
                }
              }
            }
            &:nth-child(even){
              .introduce_tab_Swiper{
                .swiper-wrapper{
                  .swiper-slide{
                    .teacher_list{
                      border-color: $main_green;
                      .teacher_inform{
                        background-color: $main_green;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
      .history{
        display: none;
        width: 100%;
        //border: 3px solid purple;
        .history_tap_wrap{
          width: 100%;
          //border: 2px solid yellowgreen;
          padding-bottom: 30px;
          .history_tap_menu{
            width: 50%;
            //border: 2px solid green;
            display: flex;
            margin: 0 auto;
            padding: 50px 0;
            li{
              text-align: center;
              flex: 1;
              a{
                font-size: 30px;
                font-family: $sub1_kr;
                font-weight: bold;
                &.active{
                  color: $sub1_green;
                }
              }
            }
          }
          .history_tap_menu_intro{
            border: 2px solid $sub1_red;
            border-radius: 30px;
            width: 85%;
            margin: 0 auto;
            p{
              margin: 0 auto;
              padding: 20px 0;
              width: 60%;
              text-align: center;
              line-height: 1.5em;

              em{
                font-style: normal;
                color: $sub1_red;
              }
            }
          }
        }
        .history_tap_content{
          //border: 2px solid royalblue;
          padding-bottom: 150px;
          .year2020{
            .year_wrap{
              &:nth-child(1){
                .year_content{
                  height: 200px;
                  .year_content_left{
                    p{
                      &:nth-child(1){
                        top: 25%;
                      }
                      &:nth-child(2){
                        top: 75%;
                      }
                    }
                  }
                  .year_content_right{
                    p{
                      &:nth-child(1){
                        top: 50%;
                      }
                    }
                  }
                }
              }
              &:nth-child(2){
                .year_content{
                  height: 100px;
                  .year_content_right{
                    p{
                      &:nth-child(1){
                        top: 50%;
                      }
                    }
                  }
                  .bi{
                    &:nth-child(3){
                      top: 50%;
                    }
                  }
                }
              }
              &:nth-child(3){
                .year_content{
                  height: 250px;
                  .year_content_left{
                    p{
                      &:nth-child(1){
                        top: 20%;
                      }
                      &:nth-child(2){
                        top: 60%;
                      }
                    }
                  }
                  .year_content_right{
                    p{
                      &:nth-child(1){
                        top: 40%;
                      }
                      &:nth-child(2){
                        top: 80%;
                      }
                    }
                  }
                  .bi{
                    &:nth-child(3){
                      top: 20%;
                    }
                    &:nth-child(4){
                      top: 40%;
                    }
                    &:nth-child(5){
                      top: 60%;
                    }
                    &:nth-child(6){
                      top: 80%;
                    }
                  }
                }
              }
              span{
                text-align: center;
                display: block;
                margin: 40px 0;
                font-size: 20px;
              }
              .circle{
                margin: 0 auto 15px;
                width: 15px;
                height: 15px;
                border-radius: 50%;
                background-color: $sub1_red;
              }
              .year_content{
                //border: 1px solid red;
                display: flex;
                position: relative;
                .year_list{
                  position: relative;
                  p{
                    display: inline-block;
                    font-size: 20px;
                    color: $black;
                    padding: 20px;
                    border-radius: 20px;
                    background-color: $sub2_red;
                    position: absolute;
                    transform: translateY(-50%);
                  }
                }
                .year_content_left{
                  flex: 1;
                  z-index: 0;
                  border-right: 1px solid $black;
                  p{
                    right: 20px;
                  }
                }
                .year_content_right{
                  flex: 1;
                  z-index: 0;
                  border-left: 1px solid $black;
                  p{
                    left: 20px;
                  }
                }
                .bi{
                  font-size: 10px;
                  position: absolute;
                  left: 50%;
                  transform: translate(-50%, -50%);
                  color: $sub1_green;
                  &:nth-child(3){
                    top: 25%;
                  }
                  &:nth-child(4){
                    top: 50%;
                  }
                  &:nth-child(5){
                    top: 75%;
                  }
                }
              }
            }
          }
          .year2010{
            display: none;
            .year_wrap{
              &:nth-child(1){
                .year_content{
                  height: 100px;
                  .year_content_left{
                    p{
                      &:nth-child(1){
                        top: 50%;
                      }
                    }
                  }
                  .year_content_right{}
                  .bi{
                    &:nth-child(3){
                      top: 50%;
                    }
                  }
                }
              }
              &:nth-child(2){
                .year_content{
                  height: 300px;
                  .year_content_left{
                    p{
                      &:nth-child(1){
                        top: 33.2%;
                      }
                      &:nth-child(2){
                        top: 66.4%;
                      }
                    }
                  }
                  .year_content_right{
                    p{
                      &:nth-child(1){
                        top: 16.6%;
                      }
                      &:nth-child(2){
                        top: 49.8%;
                      }
                      &:nth-child(3){
                        top: 83%;
                      }
                    }
                  }
                  .bi{
                    &:nth-child(3){
                      top: 16.6%;
                    }
                    &:nth-child(4){
                      top: 33.2%;
                    }
                    &:nth-child(5){
                      top: 49.8%;
                    }
                    &:nth-child(6){
                      top: 66.4%;
                    }
                    &:nth-child(7){
                      top: 83%;
                    }
                  }
                }
              }
              &:nth-child(3){
                .year_content{
                  height: 150px;
                  .year_content_left{
                    p{
                      &:nth-child(1){
                        top: 33.3%;
                      }
                    }
                  }
                  .year_content_right{
                    p{
                      &:nth-child(1){
                        top: 66.6%;
                      }
                    }
                  }
                  .bi{
                    &:nth-child(3){
                      top: 33.3%;
                    }
                    &:nth-child(4){
                      top: 66.6%;
                    }
                  }
                }
              }
              &:nth-child(4){
                .year_content{
                  height: 150px;
                  .year_content_left{
                    p{
                      &:nth-child(1){
                        top: 33.3%;
                      }
                    }
                  }
                  .year_content_right{
                    p{
                      &:nth-child(1){
                        top: 66.6%;
                      }
                    }
                  }
                  .bi{
                    &:nth-child(3){
                      top: 33.3%;
                    }
                    &:nth-child(4){
                      top: 66.6%;
                    }
                  }
                }
              }
              &:nth-child(5){
                .year_content{
                  height: 150px;
                  .year_content_left{
                    p{
                      &:nth-child(1){
                        top: 33.3%;
                      }
                    }
                  }
                  .year_content_right{
                    p{
                      &:nth-child(1){
                        top: 66.6%;
                      }
                    }
                  }
                  .bi{
                    &:nth-child(3){
                      top: 33.3%;
                    }
                    &:nth-child(4){
                      top: 66.6%;
                    }
                  }
                }
              }
              &:nth-child(6){
                .year_content{
                  height: 100px;
                  .year_content_left{
                    p{
                      &:nth-child(1){
                        top: 50%;
                      }
                    }
                  }
                  .year_content_right{}
                  .bi{
                    &:nth-child(3){
                      top: 50%;
                    }
                  }
                }
              }
              &:nth-child(7){
                .year_content{
                  height: 100px;
                  .year_content_left{}
                  .year_content_right{
                    p{
                      &:nth-child(1){
                        top: 50%;
                      }
                    }
                  }
                  .bi{
                    &:nth-child(3){
                      top: 50%;
                    }
                  }
                }
              }
              &:nth-child(8){
                .year_content{
                  height: 200px;
                  .year_content_left{
                    p{
                      &:nth-child(1){
                        top: 25%;
                      }
                      &:nth-child(2){
                        top: 75%;
                      }
                    }
                  }
                  .year_content_right{
                    p{
                      &:nth-child(1){
                        top: 50%;
                      }
                    }
                  }
                  .bi{
                    &:nth-child(3){
                      top: 25%;
                    }
                    &:nth-child(4){
                      top: 50%;
                    }
                    &:nth-child(5){
                      top: 75%;
                    }
                  }
                }
              }
              &:nth-child(9){
                .year_content{
                  height: 200px;
                  .year_content_left{
                    p{
                      &:nth-child(1){
                        top: 50%;
                      }
                    }                    
                  }
                  .year_content_right{
                    p{
                      &:nth-child(1){
                        top: 25%;
                      }
                      &:nth-child(2){
                        top: 75%;
                      }
                    }
                  }
                  .bi{
                    &:nth-child(3){
                      top: 25%;
                    }
                    &:nth-child(4){
                      top: 50%;
                    }
                    &:nth-child(5){
                      top: 75%;
                    }
                  }
                }
              }
              &:nth-child(10){
                .year_content{
                  height: 200px;
                  .year_content_left{
                    p{
                      &:nth-child(1){
                        top: 25%;
                      }
                      &:nth-child(2){
                        top: 75%;
                      }
                    }
                  }
                  .year_content_right{
                    p{
                      &:nth-child(1){
                        top: 50%;
                      }
                    }
                  }
                  .bi{
                    &:nth-child(3){
                      top: 25%;
                    }
                    &:nth-child(4){
                      top: 50%;
                    }
                    &:nth-child(5){
                      top: 75%;
                    }
                  }
                }
              }
              span{
                text-align: center;
                display: block;
                margin: 40px 0;
                font-size: 20px;
              }
              .circle{
                margin: 0 auto 15px;
                width: 15px;
                height: 15px;
                border-radius: 50%;
                background-color: $sub1_red;
              }
              .year_content{
                //border: 1px solid red;
                display: flex;
                position: relative;
                .year_list{
                  position: relative;
                  p{
                    display: inline-block;
                    font-size: 20px;
                    color: $black;
                    padding: 20px;
                    border-radius: 20px;
                    background-color: $sub2_red;
                    position: absolute;
                    transform: translateY(-50%);
                  }
                }
                .year_content_left{
                  flex: 1;
                  z-index: 0;
                  border-right: 1px solid $black;
                  p{
                    right: 20px;
                  }
                }
                .year_content_right{
                  flex: 1;
                  z-index: 0;
                  border-left: 1px solid $black;
                  p{
                    left: 20px;
                  }
                }
                .bi{
                  font-size: 10px;
                  position: absolute;
                  left: 50%;
                  transform: translate(-50%, -50%);
                  color: $sub1_green;
                }
              }
            }
          }
          .year2000{
            display: none;
            .year_wrap{
              &:nth-child(1){
                .year_content{
                  height: 150px;
                  .year_content_left{
                    p{
                      &:nth-child(1){
                        top: 33.3%;
                      }
                    }
                  }
                  .year_content_right{
                    p{
                      &:nth-child(1){
                        top: 66.6%;
                      }
                    }
                  }
                  .bi{
                    &:nth-child(3){
                      top: 33.3%;
                    }
                    &:nth-child(4){
                      top: 66.6%;
                    }
                  }
                }
              }
              &:nth-child(2){
                .year_content{
                  height: 150px;
                  .year_content_left{
                    p{
                      &:nth-child(1){
                        top: 33.3%;
                      }
                    }
                  }
                  .year_content_right{
                    p{
                      &:nth-child(1){
                        top: 66.6%;
                      }
                    }
                  }
                  .bi{
                    &:nth-child(3){
                      top: 33.3%;
                    }
                    &:nth-child(4){
                      top: 66.6%;
                    }
                  }
                }
              }
              &:nth-child(3){
                .year_content{
                  height: 150px;
                  .year_content_left{
                    p{
                      &:nth-child(1){
                        top: 33.3%;
                      }
                    }
                  }
                  .year_content_right{
                    p{
                      &:nth-child(1){
                        top: 66.6%;
                      }
                    }
                  }
                  .bi{
                    &:nth-child(3){
                      top: 33.3%;
                    }
                    &:nth-child(4){
                      top: 66.6%;
                    }
                  }
                }
              }
              &:nth-child(4){
                .year_content{
                  height: 150px;
                  .year_content_left{
                    p{
                      &:nth-child(1){
                        top: 33.3%;
                      }
                    }
                  }
                  .year_content_right{
                    p{
                      &:nth-child(1){
                        top: 66.6%;
                      }
                    }
                  }
                  .bi{
                    &:nth-child(3){
                      top: 33.3%;
                    }
                    &:nth-child(4){
                      top: 66.6%;
                    }
                  }
                }
              }
              &:nth-child(5){
                .year_content{
                  height: 150px;
                  .year_content_left{
                    p{
                      &:nth-child(1){
                        top: 33.3%;
                      }
                    }
                  }
                  .year_content_right{
                    p{
                      &:nth-child(1){
                        top: 66.6%;
                      }
                    }
                  }
                  .bi{
                    &:nth-child(3){
                      top: 33.3%;
                    }
                    &:nth-child(4){
                      top: 66.6%;
                    }
                  }
                }
              }
              &:nth-child(6){
                .year_content{
                  height: 100px;
                  .year_content_left{
                    p{
                      &:nth-child(1){
                        top: 50%;
                      }
                    }
                  }
                  .year_content_right{}
                  .bi{
                    &:nth-child(3){
                      top: 50%;
                    }
                  }
                }
              }
              span{
                text-align: center;
                display: block;
                margin: 40px 0;
                font-size: 20px;
              }
              .circle{
                margin: 0 auto 15px;
                width: 15px;
                height: 15px;
                border-radius: 50%;
                background-color: $sub1_red;
              }
              .year_content{
                //border: 1px solid red;
                display: flex;
                position: relative;
                .year_list{
                  position: relative;
                  p{
                    display: inline-block;
                    font-size: 20px;
                    color: $black;
                    padding: 20px;
                    border-radius: 20px;
                    background-color: $sub2_red;
                    position: absolute;
                    transform: translateY(-50%);
                  }
                }
                .year_content_left{
                  flex: 1;
                  z-index: 0;
                  border-right: 1px solid $black;
                  p{
                    right: 20px;
                  }
                }
                .year_content_right{
                  flex: 1;
                  z-index: 0;
                  border-left: 1px solid $black;
                  p{
                    left: 20px;
                  }
                }
                .bi{
                  font-size: 10px;
                  position: absolute;
                  left: 50%;
                  transform: translate(-50%, -50%);
                  color: $sub1_green;
                }
              }
            }
          }
        }
      }
      .group{
        width: 100%;
        display: none;
        //border: 1px solid blue;
        .group_image_content{
          width: 100%;
          //border: 2px solid yellowgreen;
          img{
            display: block;
            width: 80%;
            margin: 0 auto;
            //border: 3px solid salmon;
            margin-top: 100px;
          }
        }
        .group_question{
          width: 100%;
          //border: 1px solid purple;
          margin-top: 200px;
          h1{
            text-align: center;
            font-size: 54px;
            font-family: $sub1_kr;
            color: $sub1_green;
          }
          .group_question_content{
            display: flex;
            align-items: center;
            width: 75%;
            height: 60px;
            margin: 60px auto;
            text-align: center;
            //border-radius: 60px;
            font-family: $main_kr;
            overflow: hidden;
            line-height: 60px;
            //border: 3px solid $main_green;
            .title{
              flex: 1;
              height: inherit;
              font-size: 24px;
              color: $white;
              background-color: $main_green;
              border: 3px solid $main_green;
              //border: 3px solid $main_green;
              border-radius: 60px 0 0 60px;
            
            }
            .number{
              flex: 3;
              height: inherit;
              font-size: 20px;
              color: $black;
              border: 3px solid $main_green;
              border-radius: 0 60px 60px 0;
              letter-spacing: 2px;
            }
          }
        }
      }
    }
    .town_bg{
      width: 100%;
      position: absolute;
      left: 0;
      top: 28%;
      z-index: 1;
    }
  }
}

/************************************* Footer Slide Banner *************************************/
.footer_slide_banner{
  width: 100vw;
  margin-top: 190px;
  margin-bottom: 90px;
  .inner{
    margin: 0 auto;
    width: 1280px;
    border: 3px solid #F5948D;
    border-radius: 30px;
    position: relative;
    .wrap{
      margin: 0 auto;
      width: 1079px;
      /* border: 1px solid blue; */
      overflow: hidden;
      .footer_slide{
        margin: 0 auto;
        width: 100%;
        /* border: 1px solid purple; */
        display: flex;
        gap: 20px;
        .footer_slide_item{
          /* border: 1px solid crimson; */
          min-width: 137px;
          max-height: 45px;
          display: flex;
          justify-content: center;
          align-items: center;
          img{}
        }
      }
    }
    .footer_slide_button{
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      /* border: 1px solid #F5948D; */
      border-radius: 50%;
      .bi{
        color: #F5948D;
        font-size: 20px;
        width: inherit;
        height: inherit;
      }
      .bi-chevron-left::before, .bi-chevron-right::before{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    .footer_slide_prev_button{
      left: 1%;
    }
    .footer_slide_next_button{
      right: 1%;
    }
  }
}

/************************************* Footer *************************************/
footer{
  border-top: 3px solid $main_red;
  width: 100vw;
  height: 320px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $black;
  .footer_info{
    font-size: 16px;
    display: flex;
    gap: 10px;
    li{
      position: relative;
      &::after{
        content: '|';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: -8px;
        color: #777;
        
      }
      &:nth-child(2){
        color: $sub1_red;        
      }
      &:last-child{
        &::after{
          display: none;
        }
      }
      a{}
    }
  }
  .footer_adress{
    font-size: 14px;
    margin: 4.4% 0;
    >div{
      display: flex;
      justify-content: center;
      span{
        display: block;
        padding: 2px 5px;
        position: relative;
        &::after{
          content: '|';
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: -2px;
          color: #777;
        }
        &:last-child{
          &::after{
            display: none;
          }
        }
      }
    }
    .first{}
    .second{}
    .third{}
  }
  .footer_copy{
    font-size: 14px;
    color: $dark_gray;
  }
}


/************************************* top btn *************************************/
.top_btn{
  position: fixed;
  bottom: 10%;
  right: 2.5%;
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease;
  box-sizing: content-box;
  &.visible{
    opacity: 1;
    visibility: visible;
  }

  .top_btn_inside{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: $sub2_red;
    display: inline-block;
    position: relative;
    border: 2px solid $white;
    &:hover::after{
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 85px;
      height: 85px;
      border-radius: 100%;
      border: 3px dashed $sub1_red;
      animation: top_btn_outside normal infinite 30s linear;
    }

    >img, .top{
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
    img{
      display: block;
      transform: translateX(-50%) scale(0.9) rotate(-5deg);
      top: 2%;
      animation: arrow_click_induction normal infinite 2s linear;
    }
    .top{
      font-family: $title_en;
      color: $sub1_red;
      font-size: 26px;
      text-align: center;
      bottom: 5%;
      animation: text_click_induction normal infinite 2s linear;
    }
  }
}